{% extends 'base.html.twig' %}

{% block title %}Status{% endblock %}

{% block body %}
    <h2>Status</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statuts</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.status }}</td>
                <td>
                    <a href="{{ path('app_status_show', {'id': status.id}) }}">Voir</a>
                    <a href="{{ path('app_status_edit', {'id': status.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune information trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_status_new') }}">Créer nouveau</a>
{% endblock %}
