{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="pageContainer">
    <h2>Gestion de mon compte utilisateur</h2>
    <article class="cardAccount">
        <h3>Mes informations</h3>
        <div class="cardAccount__content">
            <img class="cardAccount__content__icon" src="{{ asset('uploads/avatar/' ~ app.user.avatar) }}">
            <div>
                <p><b>Nom</b> : {{ app.user.lastName }}</p>
                <p><b>Prénom</b> : {{ app.user.firstName }}</p>
                <p><b>email</b> : {{app.user.email}}</p>
                {% if app.user.idDiscord %}
                    <p><b>identifiant discord</b> : {{app.user.idDiscord}}</p>
                {% endif %}
            </div>
        </div>
        
        <a class="button button--plain cardAccount__modifyButton" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier mon compte</a>
    </article>
    
    <article class="myTickets">
        <h3 class="myTickets__title">Mes tickets actifs</h3>
        <div class="myTickets__container">
            {% for ticket in tickets %}
                {% if ticket.owner.id == app.user.id and ticket.status.status != "Resolved"%}
                    <div id="ticket{{ticket.id}}">   
                        <div class="ticket__icons">
                            <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}"><img class="ticket__icons--pencil" src="{{asset('icons/pencil.svg')}}" alt="modifier"></a>
                            <a href="{{ path('app_ticket_delete', {'id': ticket.id}) }}"><img class="ticket__icons--trash" src="{{asset('icons/trash.svg')}}" alt="modifier"></a>
                        </div>
                        <div class="ticket" onmouseout=hiddeTicket("ticket{{ticket.id}}") onmouseover=showTicket("ticket{{ticket.id}}")>
                            
                            <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="ticket__link">
                                <h4 class="ticket__title">{{ticket.title}}</h4>
                                <div class="ticket__owner  button button--small button--plain">{{ticket.owner.firstName}}</div>
                                <p class="ticket__description">{{ticket.description}}</p>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </article>
    

    <article class="myOldTickets">
        <h3 class="myOldTickets__title">Mes anciens tickets</h3>
        
    <div class="table">
        <table class="visibiliyDesktop">
            <thead>
                <tr>
                    <th>Résolu par</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Capture d'écran</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                {% if ticket.status.id == 3 %}
                    <tr>
                        <td> 
                            {{ ticket.helper.firstName }} {{ ticket.helper.lastName }}
                        </td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.description}}<td>
                        <td>
                            {% if ticket.image %}
                                <img src="{{asset('uploads/img/' ~ ticket.image)}}"/>
                            {% endif %}
                        </td>
                        <td>
                            <div><a href="{{ path('app_ticket_show', {'id': ticket.id}) }}"  class="button button--plain">Voir</a></div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>


        <table class="visibiliyMobile">
            <tbody>
            {% for ticket in tickets %}
                {% if ticket.status.id == 3 %}
                    <tr>
                        <th>Par</th>
                        <td> 
                            {% if (ticket.helper) %}
                                {{ ticket.helper.firstName }} {{ ticket.helper.lastName }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ticket.title}}</td>
                    </tr>
                    <tr>
                        <th>description</th>
                        <td>{{ticket.description}}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div><a href="{{ path('app_ticket_show', {'id': ticket.id}) }}"  class="button button--plain">Voir</a></div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        
    </div>

    </article>

</div>

{# <div class="one">

    <div class="two">
    
    contenu caché à afficher

    </div>
    <div class="three">
        contenu de la div
    </div>
</div> #}


{% endblock %}