{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="form">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}
			<h1 class="form__title">sign in</h1>
			<div class="form__content">
				<label class="form__content__label" for="inputEmail">Email</label>
				<input class="form__content__input form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
				<label class="form__content__label" for="inputPassword">Password</label>
				<input class="form__content__input form-control" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="button button--plain" type="submit">
					Sign in
				</button>
				<a href="{{ path('app_register')}}">Registration</a>
			</div>
		</form>
	</div>
{% endblock %}
