{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}

{% block body %}
	<div class="form">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté avec 
					{{ app.user.userIdentifier }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}
			<h2 class="form__title">S'identifier</h2>
			<div class="form__content">
				<label class="form__content__label" for="inputEmail">Mail</label>
				<input class="form__content__input form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
				<label class="form__content__label" for="inputPassword">Mot de passe</label>
				<input class="form__content__input form-control" type="password" name="password" id="inputPassword" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="button button--plain" type="submit">
					S'identifier
				</button>
				<a href="{{ path('app_register')}}">Créer un compte</a>
			</div>
		</form>
	</div>
{% endblock %}
