{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
	<div class="form">
		<h2 class="form__title">Créer un compte</h2>
		<div class="form__content">
			{{ form_start(registrationForm) }}
			{{ form_errors(registrationForm) }}
			<div class="form__content__label">
				{{ form_label(registrationForm.firstName)}}
			</div>
			{{ form_widget(registrationForm.firstName, {'attr': {'class': 'form__content__input form-control'}}) }}
			<div class="form__content__label">
				{{ form_label(registrationForm.lastName)}}
			</div>
			{{ form_widget(registrationForm.lastName, {'attr': {'class': 'form__content__input form-control'}}) }}
			<div class="form__content__label">
				{{ form_label(registrationForm.email)}}
			</div>
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form__content__input form-control'}})}}
			<div class="form__content__label">
				{{ form_label(registrationForm.plainPassword.first)}}
			</div>
			{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form__content__input form-control'}})}}
			<div class="form__content__label">
				{{ form_label(registrationForm.plainPassword.second)}}
			</div>
			{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form__content__input form-control'}})}}
			<div class="form__content__label">
				{{ form_row(registrationForm.agreeTerms, {
					label: 'Accepter les termes et le partage de vos données personnelles'
				})}}
			</div>
			<button type="submit" class="button button--plain">Valider</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
