{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h2>Ticket</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>Date de création</th>
                <th>Dernier changement</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.description }}</td>
                <td>{{ ticket.image }}</td>
                <td>{{ ticket.dateCreate ? ticket.dateCreate|date('d M à H:i') : '' }}</td>
                <td>{{ ticket.lastUpdate ? ticket.lastUpdate|date('d M à H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">Voir</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune information trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ticket_new') }}">Créer un nouveau ticket</a>
{% endblock %}
