<div class="form">
	{{ form_start(form) }}
	<div class="form__content">
		{{form_label(form.promotion)}}
	</div>
	{{ form_widget(form.promotion, { 'attr' : { 'class' : 'form__content__input form-control'}}) }}
	<button class="button button--plain">{{ button_label|default('Valider') }}</button>
	{{ form_end(form) }}
</div>
