{% extends 'base.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h2>Promotion</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Promotion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.id }}</td>
                <td>{{ promotion.promotion }}</td>
                <td>
                    <a href="{{ path('app_promotion_show', {'id': promotion.id}) }}">Voir</a>
                    <a href="{{ path('app_promotion_edit', {'id': promotion.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune information trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_promotion_new') }}">Créer une promotion</a>
{% endblock %}
